.container {
    display:flex;
    background-color: rgb(240, 240, 240);
    width:100%;
    height:100%;
    overflow: hidden;
}

.step2 {
    display: flex;
    justify-content: center;
    height: 71.428571vh;
    width: 71.428571vw;
    background-color: rgb(255, 255, 255);
    margin: auto;
}

