.container {
    display:flex;
    background-color: rgb(240, 240, 240);
    width:100%;
    height:100%;
    overflow: hidden;
}

.rectangle1 {
    display: flex;
    height: 71.428571vh;
    width: 71.428571vw;
    background-color: rgb(255, 255, 255);
    margin: auto;
}

.rectangle2 {
    display: flex;
    height: 42.857143vh;
    width: 42.857143vw;
    background-color: white;
    border: 0.25px solid lightgray;
    margin: auto;
    flex-wrap: wrap;
}

.row1 {
    display: flex;
    height: 14.285714vh;
    width: 42.857143vw;
    margin: auto;
    flex-wrap: wrap;
}

.row2 {
    display: flex;
    height: 14.285714vh;
    width: 42.857143vw;
    margin: auto;
    flex-wrap: wrap;
}

.row3 {
    display: flex;
    height: 14.285714vh;
    width: 42.857143vw;
    margin: auto;
    flex-wrap: wrap;
    
}

.square1 {
    display: flex;
    height: 14.285714vh;
    width: 14.285714vw;
    background-color: pink;
    margin: auto;
}



.square3 {
    display: flex;
    height: 14.285714vh;
    width: 14.285714vw;
    background-color: orange;
    margin: auto;
}

.square4 {
    display: flex;
    height: 14.285714vh;
    width: 14.285714vw;
    background-color: rgb(197, 255, 121);
    margin: auto;
}

.square5 {
    display: flex;
    height: 14.285714vh;
    width: 14.285714vw;
    background-color: rgb(2, 170, 103);
    margin: auto;
}

.square6 {
    display: flex;
    height: 14.285714vh;
    width: 14.285714vw;
    background-color: rgb(233, 43, 141);
    margin: auto;
}

.square7 {
    display: flex;
    height: 14.285714vh;
    width: 14.285714vw;
    background-color: rgb(210, 48, 48);
    margin: auto;
}

.square8 {
    display: flex;
    height: 14.285714vh;
    width: 14.285714vw;
    background-color: blue;
    margin: auto;
}

.square9 {
    display: flex;
    height: 14.285714vh;
    width: 14.285714vw;
    background-color: rgb(26, 166, 185);
    margin: auto;
}
